
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
    height: fit-content;
}

.sidebar .nav-link:hover {
    background: var(--bs-light);
    color: var(--bs-primary);
}

.sidebar {
    max-height: 100%;
    overflow: hidden;
}

.sideMenu {
    margin-top: -10px;
}

.note {
    Border-top : 1px solid green;
    Border-right : 1px solid green;
    Border-bottom : 1px solid green;
    border-left: 4px green solid;
    background-color: #EEEEEE;
    padding: 10px;
    /*width: 50%;*/
    margin: auto;
    margin: 5px;
}

.comment {
    /*Border-top : 4px solid blue;*/
    /*Border-right : 1px solid blue;*/
    /*Border-bottom : 1px solid blue;*/
    /*Border-left: 4px solid blue;*/
    /*background-color: #EEEEEE;*/
    padding-bottom: 1px;
    /*width: 50%;*/
    /*margin: auto;*/
    /*margin: 5px;*/
}

.comment .commentuser {
    color: blue;
}

#header {
	background-color: #BAD7DF !important;
	border-radius: 5px;
}

.nav-link, .navbar-brand{
	color: #000000 !important;
	font-weight: bold;
}

.active {
    color: red !important;
}

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control, .btn {        
    border-radius: 3px;
}

.account-form {
    width: 450px;
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
}

.account-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.account-form h2:before, .account-form h2:after {
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.account-form h2:before {
    left: 0;
}

.account-form h2:after {
    right: 0;
}

.account-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.account-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.account-form .form-group {
    margin-bottom: 20px;
}

.account-form input[type="checkbox"] {
    margin-top: 3px;
}

.account-form .btn {        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}

.account-form .row div:first-child {
    padding-right: 10px;
}

.account-form .row div:last-child {
    padding-left: 10px;
}  

.account-form a {
    color: #fff;
    text-decoration: underline;
}

.account-form a:hover {
    text-decoration: none;
}

.account-form form a {
    color: #5cb85c;
    text-decoration: none;
}	

.account-form form a:hover {
    text-decoration: underline;
}  

 /*============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li{
        position: relative;
    }
    
    .sideMenu {
        display: block;
    }

    .dropdown-menu .submenu{ 
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }

    .dropdown-menu .submenu-left{ 
        right:100%; left:auto;
    }

    #header {
        background-color: #BAD7DF !important;
        border-radius: 20px;
    }

    body {
        background-color: #000000 !important;
        margin: 10px;
    }

    .navbar-brand {
        margin-left: 20px;
    }

    .nav-link {
        list-style-type: none;
    }

    .sidebar .nav-item .nav-link{
        font-weight: normal;
         /*border: 1px blue groove; */
        height: fit-content;
    }

    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
}	
 /*============ desktop view .end// ============ */

 /*============ small devices ============ */
@media (max-width: 991px) {

    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }

    #active {
        color: red !important;
    }

    .col-lg-9 {
        padding-top: 20px;
    }
    
    .account-form {
        width: 100%;
        margin: auto auto;
        padding: 5px;
        font-size: 15px;
    }
}
